<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ app }}</title>

    <style>
        .button {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }
    </style>
</head>
<body>
<p> Hi 👋 <br>
    You have been invited to join team {{ team }}. Click the button below to join !
</p>
<a href="https://register.makeaton.in/" style="text-decoration: none; color: white">
    <button class="button">Join Team</button>
</a>
</body>
</html>
