<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/home/profile.css">

    <title>{{ app }}</title>
</head>
<body>
<form method="post" action="/profile">
    <img src="{{ user.picture }}" alt="dp">

    <div>
        <label for="name">Name</label>
        <input type="text" id="name" value="{{ user.name }}" readonly>
    </div>

    <div>
        <label for="email">Email</label>
        <input type="email" id="name" value="{{ user.email }}" readonly>
    </div>

    <div>
        <label for="phone">Phone</label>
        <input type="tel" name="phone" id="name" value="{{ user.phone }}" required>
    </div>

    <div>
        <label for="college">College</label>
        <input type="text" name="college" id="college" value="{{ user.college }}" required>
    </div>

    <div>
        <label for="course">Course</label>
        <input type="text" name="course" id="course" value="{{ user.course }}" required>
    </div>

    <div>
        <label for="semester">Semester</label>
        <select name="semester" id="semester" required>
            {% for key, value in user.semester_options %}
                <option value="{{ key }}">{{ value }}</option>
            {% endfor %}
        </select>
    </div>

    <div>
        <label for="tshirt">Tshirt Size</label>
        <select name="tshirt" id="tshirt" required>
            {% for key, value in user.tshirt_options %}
                <option value="{{ key }}">{{ value }}</option>
            {% endfor %}
        </select>
    </div>

    <div>
        <label for="linkedin">Linkedin</label>
        <input type="url" name="linkedin" id="linkedin" value="{{ user.linkedin }}" required>
    </div>

    <div>
        <label for="github">GitHub</label>
        <input type="url" name="github" id="github" value="{{ user.github }}" required>
    </div>

    <div>
        <label for="first_hackathon">Is this your first hackathon ?</label>
        <input type="checkbox" name="first_hackathon" id="first_hackathon"
               {% if user.first_hackathon %} checked {% endif %}>
    </div>

    <div {% if user.first_hackathon %} hidden {% endif %} id="experience_container">
        <label for="experience">Experience</label>
        <input type="text" name="experience" id="experience"
               {% if user.first_hackathon %} value="{{ user.experience }} {% endif %}">
    </div>

    <input type="submit" value="Update">

</form>
<script>
    const first_hackathon = document.getElementById("first_hackathon");
    const experience = document.getElementById("experience_container");

    first_hackathon.addEventListener("change", () => experience.hidden = first_hackathon.checked);
</script>
</body>
</html>
