<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/static/home/registered.css" />
    <link rel="stylesheet" href="/static/css/app.css" />
    <title>{{ app }}</title>

  </head>
  <body class="relative flex items-center justify-center min-h-screen">
      <div class="bg-white px-[40px] py-[60px] rounded mx-[32px]">
        <h1 class="font-semibold text-3xl text-center mb-[20px]">{{ name }}</h1>
        <h3 class="text-[18px] flex flex-col mb-[20px]"><span class="font-semibold text-xl">Lead</span><span> {{ lead.name }} ({{ lead.email }})</span></h3>

        {% if not members %}
          <h3 class="text-[18px] flex flex-col mb-[10px] font-semibold">No Members</h3>
        {% endif %}
        {% if members %}
          <h3 class="text-[18px] flex flex-col mb-[10px] font-semibold">Members</h3>
          <table>
            {% for member in members %}
              <tr>
                <td class="border border-gray-200 px-[10px] py-[7px]">{{ member.email }}</td>
                <td class="border border-gray-200 px-[10px] py-[7px]">
                  {% if member.team_id == team_id %}
                    Invitation Accepted
                  {% else %}
                    Invitation Pending
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </table>
        {% endif %}
        <a href="/team/join?team_id={{ team_id }}" class="m-[10px]">Team Invite Link</a>
        {% if lead.email == current_user.email %}
          <a href="/team/delete" class="py-[10px] px-[20px] mt-[20px] block text-center bg-red-500 text-white font-semibold w-full max-w-[500px] mx-auto rounded">
            <button class="button">Delete Team</button>
          </a>
        {% endif %}
      </div>
      <div class="fixed top-0 h-full w-full left-0 -z-10">
        <img
          src="https://makeaton.in/assets/images/hero_bg.png"
          alt="."
          class="h-full w-full object-cover object-center"
        />
      </div>
      <div class="fixed top-0 left-0 z-[-1] bg-[#0000009d] h-full w-full"></div>
  </body>
</html>
